html, body {
    margin: 0;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
    overflow: hidden;
    height: inherit;
}

h1 {
    font-size: 1rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: 5px;
    right: 105px;

    color: green;
}

h2 {
    font-size: 1rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: 5px;
    right: 15px;

    color: red;
}

h3 {
    font-size: 3rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: 5px;
    left: 100px;
    color: white;
}

#ballpitPanel {
    background: grey;
    position: absolute;
}

#chartPanel {
    background: teal;
    position: absolute;
}

#chart {
    height: 250px;
}

.ballpitStyle {
    position: absolute;
}

.playStyle {
    font-size: 10px;
    text-align: center;
    padding: 5px 5px;
    height: 25px;
    width: 70px;
    position: absolute;
    border: none;
    background-color: teal;
    color: white;
}

.disabledButton {
    background-color: gray !important;
}